
    <style type="text/css">
        a:link {color:#eee; text-decoration:none;}
        a:visited {color:#aba; text-decoration:none;}
        a:hover {text-decoration:underline;}
        body{
            background: #101010;
            color: #eee;
            font-family: sans-serif;
        }
        td{
            padding: 2px 10px;
        }
        table{
            white-space: nowrap;
        }
        .dateVisualization{
            position: relative;
        }
        .dateVisualizationTooltip{
            visibility: hidden;
            position: absolute;
            bottom: 110%;
            left: 105%;
            padding: 0.5rem;
            background-color: #393939;
            border-radius: 3px;
        }
        .dateVisualization .dateVisualizationTooltip::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #888 #888;
        }
        .dateVisualization:hover .dateVisualizationTooltip{
            visibility: visible;
        }
    </style>    
    <h4> Most Popular Tweets for #chronicCovid</h4>
<h5> Dates: 2019-07-01 until 2023-05-10</h5>
<table>
<tr>
<th> Nr. </th>
<th> Sum </th>
<th> RT </th>
<th> Fav </th>
<th> Date </th>
<th> Author </th>
<th> Text </th>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> [1] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> 525 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> 120 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> 405 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>26.02.22 15:07</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497589031332368389 target="_blank" rel="noopener noreferrer"> PAXLOVID IN #LONGCOVIDWe have observed that the antiviralsNirmatrelvir and Ritonavir = Paxlovidproduce a signifi… https://t.co/f3wYxD6Iwh </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> [2] </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> 226 </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> 26 </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> 200 </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...........v........<span class=dateVisualizationTooltip>14.09.21 07:32</span></span> </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> j_b_kennedy </a></td>
<td><a href=https://twitter.com/j_b_kennedy/status/1437680737126424578 target="_blank" rel="noopener noreferrer"> When do we stop calling it #LongCovid and start calling it #ChronicCovid? … coz it’s really starting to look like t… https://t.co/pyBbPyN0hw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> [3] </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> 141 </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> 123 </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>................v...<span class=dateVisualizationTooltip>25.08.22 03:15</span></span> </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> drajm </a></td>
<td><a href=https://twitter.com/drajm/status/1562639684249223168 target="_blank" rel="noopener noreferrer"> - being very young makes severe acute disease unlikely, though not impossible, but also means the number of years t… https://t.co/WZMF0sHRGa </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> [4] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> 140 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> 128 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.................v..<span class=dateVisualizationTooltip>21.11.22 09:20</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594621652016447493 target="_blank" rel="noopener noreferrer"> #SARSCoV2 #LongCovid #viralpersistence #chroniccovid #microclots #CovidIsNotOver #COVIDIsAirborne #WearAMask </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> [5] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> 65 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> 47 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>12.06.22 01:54</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535802672787365888 target="_blank" rel="noopener noreferrer"> #LONGCOVID #ChronicCOVIDIT IS AN INFECTIOUS DISEASEWHICH MAINLY AFFECTS THE BLOOD VESSELSSo your Treatment is b… https://t.co/ir5Ny2Rd9s </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> [6] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> 64 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> 39 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>23.02.22 15:57</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496514670424899593 target="_blank" rel="noopener noreferrer"> It is clear that the main cause of#LongCOVID#ChronicCOVIDis Viral Persistence.Since April 2020 we observe that… https://t.co/lT5pNKIZkp </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> [7] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> 54 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> 44 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>11.06.22 16:36</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535662360433676288 target="_blank" rel="noopener noreferrer"> DRUG-RESISTANT VIRAL LOADIN #LONGCOVID OR #CHRONICCOVIDThis has become a major problemIn the year2020 to those w… https://t.co/KTVEDGit41 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> [8] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> 54 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> 48 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>24.01.21 03:11</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353178631116349440 target="_blank" rel="noopener noreferrer"> Minnesota!Another friend of mine, Dr. Inieke Ikpe, has now joined the Magic School Bus!#longhaulers… https://t.co/P2oSlaQgjV </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> [9] </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> 54 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...v................<span class=dateVisualizationTooltip>01.03.20 15:59</span></span> </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> BeingCharisBlog </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1234146215165485057 target="_blank" rel="noopener noreferrer"> I'm attempting to refill these 4 prescriptions re: suggestions to get 2-4 wks of meds b/c #COVID. 2 of these would be early refills. 1 is a controlled substance. I'm a Medi-Medi (Medicare + Medicaid) in CA. I'll update you all. #ChronicCOVID  </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> [10] </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> 39 </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>03.04.22 16:52</span></span> </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> research_long </a></td>
<td><a href=https://twitter.com/research_long/status/1510661570518556688 target="_blank" rel="noopener noreferrer"> Hello #MedTwitter! Stay tuned on all things Viral Persistence in Long Covid. Let 2022 be the year of treatment tria… https://t.co/fS2FKzL7gH </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> [11] </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> 47 </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>08.08.21 03:07</span></span> </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> Roshikadeo </a></td>
<td><a href=https://twitter.com/Roshikadeo/status/1424205580609024003 target="_blank" rel="noopener noreferrer"> 1/ I did everything humanely possible not to catch #covid19Fiji &amp; to keep my immediate family safe. I had one dose… https://t.co/RKAK4xle35 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> [12] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> 49 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>25.11.20 06:18</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331482476175306752 target="_blank" rel="noopener noreferrer"> Our #covid19 #longhauler #chroniccovid treatment center is only getting started.  It is NOT true that we have close… https://t.co/T8RzU9x3RQ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> [13] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> 52 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> 42 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>15.01.21 00:30</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1349876697424867329 target="_blank" rel="noopener noreferrer"> And if you like watching videos over reading, here is a little video going over our #chroniccovid #longhaulers… https://t.co/YclK8GcTcj </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> [14] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> 51 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> 44 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>19.06.22 08:40</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1538441539210383360 target="_blank" rel="noopener noreferrer"> In the case of vax-longer haulers the spike is likely persisting trapped in clots. Time to #ClearTheVirus #TreatLongCovid #ChronicCovid </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> [15] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> 49 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> 43 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>03.02.21 11:56</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356934685952266240 target="_blank" rel="noopener noreferrer"> We just put out a press release today announcing the #longhaulers #chroniccovid website and the patented algorithm… https://t.co/g5kMMFpO0x </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> [16] </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> 44 </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> 32 </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...................v<span class=dateVisualizationTooltip>11.04.23 05:36</span></span> </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> danaparish </a></td>
<td><a href=https://twitter.com/danaparish/status/1645662078278205441 target="_blank" rel="noopener noreferrer"> An @NIH story:How to dupe patients &amp; flush over a billion dollars 💰 down the drain: A roadmap from #Lyme &amp; #MECFS… https://t.co/uVN5O9kKam </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> [17] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> 44 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> 38 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>24.11.20 04:56</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1331099469463613441 target="_blank" rel="noopener noreferrer"> We are putting together the #ChronicCOVID treatment center and building a network of physicians who want to be part… https://t.co/M8mUooBG61 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> [18] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> 43 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> 29 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>06.03.22 16:05</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1500502810529775618 target="_blank" rel="noopener noreferrer"> EFFECTIVE TREATMENT SCHEMESFOR #LONGCOVID#CHRONICCOVID #PERSISTENTCOVIDSee in:https://t.co/a5LMF8br0gwith the… https://t.co/pCmF4N9Doh </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> [19] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> 40 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>17.06.22 12:07</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1537769008694538243 target="_blank" rel="noopener noreferrer"> 12/ #ChronicCovid is something #longhaulers have long suspected. Science is now catching up. </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> [20] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> 39 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> 33 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>16.04.22 09:16</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515257748220481542 target="_blank" rel="noopener noreferrer"> And the anecdotal evidence grows. Another Long Covid patient (n=1) who reports significant symptom improvement &amp;… https://t.co/kWLBBHN0vg </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> [21] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> 27 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>09.06.22 21:28</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535010982262628354 target="_blank" rel="noopener noreferrer"> Inclusion of the ROOT of LITHOSPERMUM ERYTHRORHIZON or #GROMWELLin the 1st Line of Actionin #LongCOVID… https://t.co/jhG4NZOXfj </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> [22] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> 34 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>07.11.20 03:20</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324914698387648512 target="_blank" rel="noopener noreferrer"> Northern New Jersey, NYC, Long IslandBoston, New England areaIf you are a #covid19 #longhauler #chroniccovid an… https://t.co/M7RuL3VznI </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> [23] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> 36 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> 29 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>12.06.22 02:29</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535811447657144320 target="_blank" rel="noopener noreferrer"> #LONGCOVID OR #CHRONICCOVIDIT IS A CHRONIC INFECTIOUS DISEASEwith similarities toHERPES ZOSTER AND SIMPLECYTOM… https://t.co/MuJY3gRV5F </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> [24] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> 33 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> 31 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>09.11.20 21:36</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1325915212898295810 target="_blank" rel="noopener noreferrer"> #longhaulers #COVID19 #incelldx @brucep13 Dr. Patterson is ready to kick some COVID ass and come up with solutions… https://t.co/uG9L9zRcJu </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> [25] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> 32 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>02.02.21 16:16</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1356637547384999936 target="_blank" rel="noopener noreferrer"> Seattle!!!!  #longhaulers #chroniccovid #Longcovid #COVID19 These doctors joined our Magic Bus!   Website below… https://t.co/DB60KKWPMy </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> [26] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> 32 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> 26 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>20.11.20 00:08</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1329577249050423296 target="_blank" rel="noopener noreferrer"> As I have tweeted before and discussed with many #covid19 #longhaulers, baricitinib might be a potential treatment… https://t.co/OgRwXLZlc8 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> [27] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> 31 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>12.05.22 08:24</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1524666764419809281 target="_blank" rel="noopener noreferrer"> And why is the immune system exhausted? likely because it is fighting a persistent infection #ChronicCovid… https://t.co/vaxBfYvqA8 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> [28] </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> 31 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> 27 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>27.03.22 22:37</span></span> </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> danaparish </a></td>
<td><a href=https://twitter.com/danaparish/status/1508211575559139329 target="_blank" rel="noopener noreferrer"> I have also been wondering why antivirals aren’t first on the list of drugs to try for persistent viral infection!… https://t.co/zMP3kiSdSV </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> [29] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> 31 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> 23 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>02.03.22 13:40</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499016700657905664 target="_blank" rel="noopener noreferrer"> Yet more evidence of viral persistence. No doubt SARS CoV-2 is hiding in immune privileged sites. These viral reser… https://t.co/okoS25wAQG </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> [30] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> 30 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>25.06.22 00:06</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1540486641059614721 target="_blank" rel="noopener noreferrer"> #LongCOVID/#ChronicCOVID &amp; #CFS/#CFSMEGraphic shows how Persistent #Microclots adhere to vascular walls fulfilling… https://t.co/EwqjJlERHc </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> [31] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> 29 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>31.03.22 03:38</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509374651105005575 target="_blank" rel="noopener noreferrer"> PAXLOVID in Acute and #ChronicCOVID#LongCOVIDAs with the use of mAbsand other drugswe observed cases in which w… https://t.co/wHh6Y7GksQ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> [32] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>03.06.22 11:29</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1532685926379528197 target="_blank" rel="noopener noreferrer"> 72.3% OF PATIENTS WITH #LONGCOVID/#ChronicCOVIDPRESENTED REACTIVATION/ACTIVATION OFLATENT INFECTION BY HERPESVIRU… https://t.co/lUEhDUBNXo </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> [33] </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>28.03.22 15:24</span></span> </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> danaparish </a></td>
<td><a href=https://twitter.com/danaparish/status/1508464979673956354 target="_blank" rel="noopener noreferrer"> More #ChronicCovid. Go, 🐕 🐩 🐶! Another fascinating study demonstrating persistent infection in a “strikingly high… https://t.co/j6GDmzrK5x </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> [34] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>04.03.22 13:26</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1499737970575872009 target="_blank" rel="noopener noreferrer"> More evidence suggesting viral persistence in those with Long Covid &amp; potential benefits of antiviral therapy.… https://t.co/aWlPRxcyik </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> [35] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> 27 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>24.01.21 21:09</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1353449968753762306 target="_blank" rel="noopener noreferrer"> Wisconsin!#longhaulers #chroniccovid #LongCovid Dr. Ikpe also has a WI medical license- so Wisconsin longhauler… https://t.co/XNhOQhjeuE </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> [36] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> 27 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>17.06.22 15:35</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1537821158271291395 target="_blank" rel="noopener noreferrer"> Study conducted by scientists from Boston and Harvardthey detect the SARS-CoV-2 antigen up to 12 months after Diag… https://t.co/bzcJCFdMjR </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> [37] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>02.05.22 02:14</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1520949719375269888 target="_blank" rel="noopener noreferrer"> #ChronicCOVID #LongCOVIDIt is identified that the RNAand the Nucleocapsid protein of the SARS-CoV2persisted for… https://t.co/ZbgSTDdrG7 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> [38] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> 24 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>................v...<span class=dateVisualizationTooltip>15.09.22 17:45</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1570468954493034496 target="_blank" rel="noopener noreferrer"> SELF-TEST TO IDENTIFY HYPOPERFUSION AND MICROCLOTSAt homefree of chargein a few minutesFor#LongCOVID… https://t.co/Vnrnmqd3uw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> [39] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>14.05.22 12:29</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1525453129491292160 target="_blank" rel="noopener noreferrer"> @sajidjavid @TimesONeill @doctorasadkhan @ClareRayner6 @ClaireHastie1 @IanJBD @bcdelaney1 @b_m_hughes @BinitaKane… https://t.co/LPuAdks6ia </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> [40] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>05.04.22 12:18</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511317300699443203 target="_blank" rel="noopener noreferrer"> More of these trials pls @NIHRresearch #TreatLongCovid #viralpersistance #antivirals #clearthevirus #chroniccovid… https://t.co/mQc8EpA8DA </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> [41] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>03.03.22 16:25</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1499420752797487105 target="_blank" rel="noopener noreferrer"> In 100% of 14 patients with #LongCOVID or #ChronicCOVIDwith severe symptomsHYPOPERFUSION was diagnosedby brain S… https://t.co/uDvRJZ0QmQ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> [42] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>29.01.21 17:20</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1355204112049201152 target="_blank" rel="noopener noreferrer"> #longhaulers #chroniccovid #LongCovid We made some tweaks to the website!This is the flow of the entire project-… https://t.co/z2q8FYXfCf </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> [43] </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>17.06.22 19:23</span></span> </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> PatientPersists </a></td>
<td><a href=https://twitter.com/PatientPersists/status/1537878724745388037 target="_blank" rel="noopener noreferrer"> #longcovid was a good term initially, but too often people think it means "some leftover symptoms" that resolve by… https://t.co/MylOQRMJ1P </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> [44] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>12.06.22 14:14</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1535988879513247746 target="_blank" rel="noopener noreferrer"> #LONGCOVID IS A CHRONIC INFECTIONBUT PRACTICALLY NOT CONTAGIOUSSince the virus is no longer found in secretions f… https://t.co/opSqqagGRz </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> [45] </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>06.05.22 14:33</span></span> </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> JuanMAnayaC </a></td>
<td><a href=https://twitter.com/JuanMAnayaC/status/1522585399792701441 target="_blank" rel="noopener noreferrer"> #callforpapers #CallForSubmissions #postCOVIDsyndrome #longCOVID #longhaulCOVID #postacuteCOVID19 #chronicCOVID Man… https://t.co/D9WgFabFeE </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> [46] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>13.04.22 07:44</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1514147579365408768 target="_blank" rel="noopener noreferrer"> @NIHDirector @WHO . #antivirals #viralpersistance #ChronicCovid @NIHRresearch @NIH </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> [47] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>26.02.22 22:48</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497705095936548870 target="_blank" rel="noopener noreferrer"> DRUGS AGAINST VIRAL LOADFOR 3 MONTHSFOR #CHRONICCOVID#LONGCOVIDCase ReportSARS CoV2 was detected in PlasmaHe… https://t.co/pO42ofsmI5 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> [48] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.................v..<span class=dateVisualizationTooltip>19.11.22 17:17</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594017024652414976 target="_blank" rel="noopener noreferrer"> Obvious to any doctor with half a brain. #SARSCoV2 #viralpersistence #LongCovid #ChronicCovid #Microclots https://t.co/1knm6tyXaO </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> [49] </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>26.02.21 14:13</span></span> </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> kgo81 </a></td>
<td><a href=https://twitter.com/kgo81/status/1365303882096791553 target="_blank" rel="noopener noreferrer"> Drug trial could bring relief, help for #COVID19 long haulers#Leronlimab #Vyrologix #CytoDyn #LongHauler… https://t.co/5kGYny0hvG </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> [50] </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>07.02.23 18:59</span></span> </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> CovidCastaways </a></td>
<td><a href=https://twitter.com/CovidCastaways/status/1623033683983667209 target="_blank" rel="noopener noreferrer"> When things like IV Ozone, Tollovid, etc. help me so much, months after initial infection, it seems obvious it’s in… https://t.co/TbYVpVLtXJ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> [51] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>25.06.22 15:28</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1540718563975110657 target="_blank" rel="noopener noreferrer"> @crannaghcrud #ME #MyalgicEncephalomyelitis #LongCovid #TreatLongCovid #MillionsMissing #viralpersistence… https://t.co/mfI0KqNbVG </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> [52] </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>06.11.20 19:15</span></span> </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> YoDoctorYo </a></td>
<td><a href=https://twitter.com/YoDoctorYo/status/1324792436418293764 target="_blank" rel="noopener noreferrer"> Some knowledge will be dropped.  Don't want to miss this.#covid19 #longhaulers #chroniccovid https://t.co/7QnX939AOt </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> [53] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>03.05.22 03:45</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1521335126080331778 target="_blank" rel="noopener noreferrer"> In the Treatment of #ChronicCOVID or #LongCOVIDfrom days before starting the IntensivePhasewith drugs against Vir… https://t.co/DM90V6M8ni </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> [54] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>17.04.22 06:29</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1515578065593815041 target="_blank" rel="noopener noreferrer"> Petition to research Antivirals for Long Covid &amp; ME/CFS. Pls sign and RT. #viralpersistence #chroniccovid… https://t.co/Cuvw0V9TPl </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> [55] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>24.02.22 16:34</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1496886171363913731 target="_blank" rel="noopener noreferrer"> #LONGCOVID OR #CHRONICCOVIDPOST VACCINEThe Management is the same as the Patient with Persistent Symptoms of COVI… https://t.co/TquKwEJUDk </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> [56] </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.....v..............<span class=dateVisualizationTooltip>19.07.20 22:07</span></span> </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> BremainInSpain </a></td>
<td><a href=https://twitter.com/BremainInSpain/status/1284973052611231746 target="_blank" rel="noopener noreferrer"> Chronic COVID? Meet the survivors who've had coronavirus symptoms for months #ChronicCovid  </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> [57] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>18.04.22 12:56</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1516038006850826240 target="_blank" rel="noopener noreferrer"> #viralpersistence #chroniccovid #clearthevirus #Paxlovid4LongCovid @research_long </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> [58] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>25.02.22 00:21</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1497003892533608449 target="_blank" rel="noopener noreferrer"> DRUG-RESISTANCE OF THE VIRAL LOAD IN #LONGCOVID or #CHRONICCOVIDThe big problem with Monoclonal Antibodies (mAbs)… https://t.co/5tWBRjWFQf </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> [59] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.................v..<span class=dateVisualizationTooltip>19.11.22 16:59</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1594012563695599619 target="_blank" rel="noopener noreferrer"> @j_b_kennedy Any good doctor knows this. #viralpersistence #microclots #SARSCoV2 #LongCovid #chroniccovid </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> [60] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>10.06.22 06:10</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1535142293040152578 target="_blank" rel="noopener noreferrer"> Time to trial antiviral medication. @NIHRresearch @NIH @NIHDirector #viralpersistence #ClearTheVirus #ChronicCovid https://t.co/DKloCqrIaE </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> [61] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>30.03.22 23:33</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1509312816280395783 target="_blank" rel="noopener noreferrer"> DRUG-RESISTANCE IN ACUTEAND #CHRONICCOVID #LONGCOVIDThe virus mutates very quicklyIf only 1 drug is givento a… https://t.co/fzlkPXp3ve </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> [62] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>05.03.22 09:37</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1500042807679066113 target="_blank" rel="noopener noreferrer"> The second patient had a severe ischaemic colitis with perforation and SARS-CoV-2 was also identified in endothelia… https://t.co/g4Ly3fOvjs </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> [63] </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>....v...............<span class=dateVisualizationTooltip>26.03.20 05:06</span></span> </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> BeingCharisBlog </a></td>
<td><a href=https://twitter.com/BeingCharisBlog/status/1243041596246880257 target="_blank" rel="noopener noreferrer"> Hey, this awesome org run by young adults that supports young adults with chronic disease is doing this awesome thing! Tag your friends! #HighRiskCovid19 #ChronicCovid  </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> [64] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...............v....<span class=dateVisualizationTooltip>14.06.22 19:10</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1536788294918361088 target="_blank" rel="noopener noreferrer"> FIBRINOLYTIC/THROMBOLYTICFOR #LONGCOVID #ChronicCOVID #PACS #LongHaulersAND CHRONIC FATIGUE SYNDROME #CFS #CFSME… https://t.co/tE2i6ACv2r </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> [65] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>25.05.22 02:16</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1529285250710441984 target="_blank" rel="noopener noreferrer"> @CDCgov @CDCMMWR It should be noted thatJust as in Acute COVID there is 40% ASYMPTOMATICsimilarly in the… https://t.co/QrLqC1qzRP </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> [66] </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..............v.....<span class=dateVisualizationTooltip>05.04.22 19:39</span></span> </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> fearnley_k </a></td>
<td><a href=https://twitter.com/fearnley_k/status/1511428211443486726 target="_blank" rel="noopener noreferrer"> @HarryLeeming Haven’t got the brain power to read but I sincerely hope it involves trialling medication to clear… https://t.co/c037B1vzcJ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> [67] </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>07.11.20 17:22</span></span> </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> lo_malin </a></td>
<td><a href=https://twitter.com/lo_malin/status/1325126398009368576 target="_blank" rel="noopener noreferrer"> ‘Other viral outbreaks, including the original SARS, MERS, Ebola, H1N1 and the Spanish flu, have been associated wi… https://t.co/JoqErqoVzq </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> [68] </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.................v..<span class=dateVisualizationTooltip>14.12.22 22:09</span></span> </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> Aguirre1Gustavo </a></td>
<td><a href=https://twitter.com/Aguirre1Gustavo/status/1603150318384168960 target="_blank" rel="noopener noreferrer"> This is a Peer-Reviewed studyPublished today in the journal NatureMore than 2 years to confirm the Clinical Diagn… https://t.co/557ypsFEuw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> [69] </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.............v......<span class=dateVisualizationTooltip>23.02.22 07:53</span></span> </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> EMRobotActuator </a></td>
<td><a href=https://twitter.com/EMRobotActuator/status/1496392862954573827 target="_blank" rel="noopener noreferrer"> @dianaberrent There is increasing clinical evidence that #LongCOVID is #ChronicCOVID, with viable SARS2 virions fou… https://t.co/YfXDyELijb </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> [70] </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>24.01.21 23:32</span></span> </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> uNoClimbGorilla </a></td>
<td><a href=https://twitter.com/uNoClimbGorilla/status/1353485947162087424 target="_blank" rel="noopener noreferrer"> Hey AZ! You may not see the forrest for the trees so let me help...Long lines for covid vaccine...Long lines for… https://t.co/GB4mb8ARO8 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> [71] </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>......v.............<span class=dateVisualizationTooltip>08.09.20 02:48</span></span> </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> TheEliKlein </a></td>
<td><a href=https://twitter.com/TheEliKlein/status/1303163230697803777 target="_blank" rel="noopener noreferrer"> Covid deaths and hospitalizations will continue decline in the US. That’s a reason #longcovid #longhaulers #chroniccovid are now so important. FEAR MUST NOT DIMINISH. Long Covid has a President, his name is Craig.  </a></td>
</tr>
</table>
