
    <style type="text/css">
        a:link {color:#eee; text-decoration:none;}
        a:visited {color:#aba; text-decoration:none;}
        a:hover {text-decoration:underline;}
        body{
            background: #101010;
            color: #eee;
            font-family: sans-serif;
        }
        td{
            padding: 2px 10px;
        }
        table{
            white-space: nowrap;
        }
        .dateVisualization{
            position: relative;
        }
        .dateVisualizationTooltip{
            visibility: hidden;
            position: absolute;
            bottom: 110%;
            left: 105%;
            padding: 0.5rem;
            background-color: #393939;
            border-radius: 3px;
        }
        .dateVisualization .dateVisualizationTooltip::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #888 #888;
        }
        .dateVisualization:hover .dateVisualizationTooltip{
            visibility: visible;
        }
    </style>    
    <h4> Most Popular Tweets for #LightUptheNight4ME</h4>
<h5> Dates: 2021-05-06 until 2023-05-10</h5>
<table>
<tr>
<th> Nr. </th>
<th> Sum </th>
<th> RT </th>
<th> Fav </th>
<th> Date </th>
<th> Author </th>
<th> Text </th>
</tr>
<tr>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> [1] </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> 108 </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> 90 </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 08:55</span></span> </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> SenIAS_Berlin </a></td>
<td><a href=https://twitter.com/SenIAS_Berlin/status/1524674690098335744 target="_blank" rel="noopener noreferrer"> Heute ist Internationaler ME/CFS-Tag. Da Ressourcen meist dahin gehen, wo Aufmerksamkeit ist, richtet… https://t.co/n5aDhFxUOO </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> [2] </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> 104 </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> 82 </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 08:00</span></span> </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> Stadt_BRB </a></td>
<td><a href=https://twitter.com/Stadt_BRB/status/1524660651393789953 target="_blank" rel="noopener noreferrer"> Der 12. Mai ist Internationaler ME/CFS-Tag: Im Rahmen der #Aktion „#LightUpTheNight4ME" leuchtet in der Nacht auf F… https://t.co/0rw2iLvCdA </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> [3] </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> 102 </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> 85 </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 19:30</span></span> </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> ThuerLandtag </a></td>
<td><a href=https://twitter.com/ThuerLandtag/status/1524834358531608589 target="_blank" rel="noopener noreferrer"> Auch der @ThuerLandtag beteiligt sich heute am 30. Internationalen #MECFS-Gedenktag. Die 9. Etage des #Landtag|s-Ho… https://t.co/6XmI4PPYXo </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> [4] </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> 97 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> 34 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> 63 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>21.03.23 09:52</span></span> </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> mecfs_support_ </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116268002648066 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME 2023Damit die diesjährige Aktion zum #mecfsawarenessday am 12.05.2023 ein mindestens genauso… https://t.co/nwxxIAXeY8 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> [5] </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> 82 </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> 60 </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>30.05.22 11:39</span></span> </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> saskia695 </a></td>
<td><a href=https://twitter.com/saskia695/status/1531238968943071238 target="_blank" rel="noopener noreferrer"> Die Freie Presse hat erneut über #MECFS berichtet.U.a. geht es um zwei Betroffene aus meinem Landkreis, über die A… https://t.co/ZQoe0KdUcX </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> [6] </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> 80 </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> 26 </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> 54 </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>15.03.23 21:30</span></span> </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> ChantalBritt </a></td>
<td><a href=https://twitter.com/ChantalBritt/status/1636117800505712643 target="_blank" rel="noopener noreferrer"> Wie schaffen wir es, am 12. Mai das Bundeshaus und/oder das @BAG_OFSP_UFSP blau zu beleuchten? Kann uns da jemand… https://t.co/etKh5c5HW6 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> [7] </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> 80 </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> 67 </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>06.05.22 19:13</span></span> </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> RMMontag </a></td>
<td><a href=https://twitter.com/RMMontag/status/1522655773972738048 target="_blank" rel="noopener noreferrer"> Gute Nachrichten: Der @ThuerLandtag wird am 12. Mai zur #LightUpTheNight4ME in blau erstrahlen! Das ist ein starkes… https://t.co/eXpmJ2zbDt </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> [8] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> 79 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> 66 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>22.05.22 11:23</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1528335693608525825 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME Auch in diesem Jahr wurden zum 12. Mai weltweit öffentliche Gebäude blau beleuchtet, um uns… https://t.co/1ZWL0l3XfA </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> [9] </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> 68 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> 63 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 13:00</span></span> </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> BettinaHahn5 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524736147473059840 target="_blank" rel="noopener noreferrer"> Mein bescheidener Beitrag zu #LightUpTheNight4ME Das Foto habe ich schon früher aufgenommen, mit #MECFS ist zu un… https://t.co/XRtrjOg0T2 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> [10] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> 65 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> 47 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>09.05.22 13:23</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1523654868090880000 target="_blank" rel="noopener noreferrer"> Liebe #pwME, anlässlich der #LightUpTheNight4ME zum Internationalen #MECFS Tag möchten wir euch heute die uns bekan… https://t.co/PrznwTrVJz </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> [11] </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> 56 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>15.03.23 15:50</span></span> </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> SGME_CH </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1636032153589805057 target="_blank" rel="noopener noreferrer"> 💙 Light up the Night for ME 💡Am 12. Mai werden weltweit Sehenswürdigkeiten Blau beleuchtet, um den Betroffenen Ge… https://t.co/uxrf5QDbQZ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> [12] </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> 44 </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>13.04.23 17:39</span></span> </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> LohMatt </a></td>
<td><a href=https://twitter.com/LohMatt/status/1646568723543719957 target="_blank" rel="noopener noreferrer"> Ich will am internationalen ME/CFS Awareness Day am 12. Mai auch ein paar Gebäude in blauer Farbe erstrahlen lassen… https://t.co/SAXaVpe3mK </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> [13] </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> 49 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> 40 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 16:30</span></span> </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> BeeGee26168032 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524426702159585280 target="_blank" rel="noopener noreferrer"> Ich freue mich, dass  #Bürgermeister Dag Wehner für die Stadt #Fulda sowie der Verein City Marketing e.V. den blau… https://t.co/opbRE5sWzJ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> [14] </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> 47 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> 27 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>30.03.23 18:01</span></span> </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> AnneKhlr </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641500808331010048 target="_blank" rel="noopener noreferrer"> .@Gong963 Unterstützt ihr mich darin, die Aktion #LightUpTheNight4ME am 12.05.2023 in München zu einem Erfolg werde… https://t.co/mTzg0ASKGh </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> [15] </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 43 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>16.05.21 15:46</span></span> </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> dg_mecfs </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> Auch die Kirche der Petri-Pauli-Kirchengemeinde in Bad Münder wurde anlässlich des internationalen ME/CFS-Tags blau… https://t.co/VJRkjFF2kw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> [16] </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> 42 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> 38 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>10.05.22 17:08</span></span> </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> ThomasHeinzman_ </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524074003425546242 target="_blank" rel="noopener noreferrer"> Die Stadt #Oberursel beteiligt sich am Intern. #MECFS Tag am 12.05.2022 und beleuchtet das Rathaus-Foyer blau.… https://t.co/JWd6mDV2kq </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> [17] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> 40 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> 35 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 20:10</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524482152079020035 target="_blank" rel="noopener noreferrer"> #MEAwarenessHour#LightUpTheNight4ME aus 🇦🇹: blau beleuchtet wird der Klagenfurter Lindwurmbrunnen. Wunderschöner K… https://t.co/DaPJDwqPSv </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> [18] </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> 39 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> 24 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>29.03.23 16:47</span></span> </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> AnneKhlr </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1641119892890955776 target="_blank" rel="noopener noreferrer"> .@muenchen Habt ihr schon von der Aktion #LightUpTheNight4ME am 12.05.2023 gehört? Welche Sehenswürdigkeiten in Mün… https://t.co/zJh6FjWRXD </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> [19] </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> 36 </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> 29 </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 19:49</span></span> </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> LorettaNoire </a></td>
<td><a href=https://twitter.com/LorettaNoire/status/1392567595191132161 target="_blank" rel="noopener noreferrer"> #LightUptheNight4ME #MEAwarenessDay https://t.co/sVkV7UMQq1 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> [20] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> 31 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> 26 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 19:15</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1524468131095216128 target="_blank" rel="noopener noreferrer"> #meawarenesshour #meawarenessmonthZur #LightUpTheNight4ME am morgigen Internationalen #MECFS Tag dürfen wir uns… https://t.co/xD2Aqa7HXq </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> [21] </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> 30 </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> 23 </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>13.05.22 14:48</span></span> </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> AnniDietzke </a></td>
<td><a href=https://twitter.com/AnniDietzke/status/1525125919404445696 target="_blank" rel="noopener noreferrer"> Bis jetzt werde #MECFS kaum verstanden und oft unterdiagnostiziert. „Wir müssen dafür sorgen, dass Erkrankte sozial… https://t.co/0UI0XcIsrh </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> [22] </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> 30 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>29.04.22 12:05</span></span> </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> Julia46738505 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1520011468418293760 target="_blank" rel="noopener noreferrer"> .@ChariteBerlin Kann die Charité Berlin, ähnlich wie die Purple for Preemies Aktion am Weltfrühgeborenentag, auch d… https://t.co/Z8eUmfN0JW </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> [23] </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> 29 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 05:48</span></span> </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> BeeGee26168032 </a></td>
<td><a href=https://twitter.com/BeeGee26168032/status/1524627595022712832 target="_blank" rel="noopener noreferrer"> #MEAwarenessDay #WorldMEDay #LightUptheNight4ME sehr passend in #Klagenfurt: Im Kampf gegen das Monster #MECFS und… https://t.co/N4KbKkAy8g </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> [24] </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>14.04.23 09:03</span></span> </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> mecfs_support_ </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1646801353237250048 target="_blank" rel="noopener noreferrer"> 💙Wir brauchen noch immer Unterstützung, damit die #LightUpTheNight4ME wieder ein genauso großer Erfolg wird wie im… https://t.co/JXGHokiM4J </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> [25] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> 23 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 20:59</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1524494362234785795 target="_blank" rel="noopener noreferrer"> #MEAwarenessHour Blau blau blau ist alles was ich liebe,blau blau  blau ist alles was ich hab.Darum lieb ich all… https://t.co/ORljXZHhLZ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> [26] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>13.04.22 19:10</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514320012227579922 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME#MEAwarenessHourUm auf uns aufmerksam zu machen, sollen auch in diesem Jahr am 12. Mai öffent… https://t.co/lbCbie7Yl5 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> [27] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>02.03.22 20:05</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1499113777870082051 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME 2022💙Im vergangenen Jahr wurden zum Internationalen #MECFS Tag am 12. Mai einige Gebäude in De… https://t.co/FzUQuYT3K2 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> [28] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> 28 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 01:25</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289690049552385 target="_blank" rel="noopener noreferrer"> Es werden am 12. Mai auf der ganzen Welt öffentliche o. private Gebäude blau angestrahlt unter dem Motto… https://t.co/XOwSx5hpPb </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> [29] </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> 26 </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>12.04.23 18:13</span></span> </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> radineulla </a></td>
<td><a href=https://twitter.com/radineulla/status/1646215091556163584 target="_blank" rel="noopener noreferrer"> ¤ Macht blaues Licht zu Hause am Fenster.¤Schreibt Sehenswürdigkeiten an, damit sie blau Beleuchtet werden!¤ Fl… https://t.co/CGjr7Jz7b2 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> [30] </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>12.04.23 19:23</span></span> </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> SGME_CH </a></td>
<td><a href=https://twitter.com/SGME_CH/status/1646232545221017612 target="_blank" rel="noopener noreferrer"> 💙✉️💙 Soeben ist unser Newsletter über unsere Maiaktionen erschienen. Auch Du kannst helfen, ME sichtbar zu machen… https://t.co/x6xBBtEuTO </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> [31] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>04.05.22 19:40</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1521937707043201025 target="_blank" rel="noopener noreferrer"> #MECFS #MEAwarenessHourDie Hoffnung trägt BlauLeider hat der @ThuerLandtag bisher nicht auf die Anfrage zur… https://t.co/ZUt7Ienkda </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> [32] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>13.04.22 19:30</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1514325046310805507 target="_blank" rel="noopener noreferrer"> Wir möchten dazu aufrufen, eure Fenster und die eurer Familien und Freunden als Zeichen der Solidarität am Abend de… https://t.co/0WggXO0ZzK </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> [33] </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 24 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>16.05.21 15:50</span></span> </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> dg_mecfs </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> Begleitende Worte von Pastor Dietmar Adler: https://t.co/CaJxqu9t5X#MECFS #MillionsMissing #LightUpTheNightForME #LightUpTheNight4ME </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> [34] </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> 24 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 05:09</span></span> </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> FatigatioeV </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392346157800624129 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME auch in @OsnabrueckHalleVielen Dank für die Unterstützung am #MECFSAwarenessday https://t.co/Qh7jxmYF8w </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> [35] </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>13.05.22 20:30</span></span> </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> dg_mecfs </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1525211912950140931 target="_blank" rel="noopener noreferrer"> 📰 @AnniDietzke berichtet im @Tagesspiegel über die #LightUptheNight4ME-Aktion anlässlich des diesjährigen… https://t.co/PaRbUmnXY3 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> [36] </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> 22 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 20:07</span></span> </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> Violettatamm </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524843668733149184 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME#MEAwarenessDayMeine Fenster. https://t.co/WtHV4srAuG </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> [37] </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 22:53</span></span> </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> Violettatamm </a></td>
<td><a href=https://twitter.com/Violettatamm/status/1524885416209440774 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME#MEAwarenessDay#MyalgicEncephalomyelitisIch habe Schmerzen und friere und habe mich über den… https://t.co/duahnMhxh4 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> [38] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>07.05.22 14:49</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1522951669486874627 target="_blank" rel="noopener noreferrer"> Die Entwicklungen in NDS zu #MECFS sind auf einem guten Weg. Über d.entspr. Entschließungsantrag sollte wohl bald e… https://t.co/jBfdShLxCQ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> [39] </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>13.05.21 08:52</span></span> </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> HappyHoundHouse </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> #LightUptheNightforME #LightUptheNight4ME🙏 @GlosCathedral #Gloucestershirehttps://t.co/mR8fpptXQA… https://t.co/xR5HRyeCH6 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> [40] </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 21:07</span></span> </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> KWollec </a></td>
<td><a href=https://twitter.com/KWollec/status/1524858719615459330 target="_blank" rel="noopener noreferrer"> Ich mach auch mit bei #LightUpTheNight4ME . #MEAwarenessMonth #MEAwarenessDay https://t.co/Aqy4deW47x </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> [41] </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 13:01</span></span> </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> PJoschka </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524374066249048065 target="_blank" rel="noopener noreferrer"> … und über die Hintergründe der Aktion über social media berichten. Danke lieber Herr Dr. Jung @OBFuerth… https://t.co/eNpL14FL9B </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> [42] </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 19:17</span></span> </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> Julia46738505 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> #MEAwarenessDay #MEAwarenessHour #MillionsMissing #MillionsMore #ENDmecfs2021 #InvisibleIllness #CanYouSeeMENow… https://t.co/KxixuLZEpl </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> [43] </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 21:21</span></span> </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> Lilian47882254 </a></td>
<td><a href=https://twitter.com/Lilian47882254/status/1524862259717193764 target="_blank" rel="noopener noreferrer"> Der Katharinenturm in Magdeburg (Sachsen-Anhalt) für #LightUpTheNight4ME @stadt_halle #MillionsMissing… https://t.co/XazI7rsvT9 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> [44] </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>13.04.22 02:50</span></span> </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> MightyMermaid87 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1514073499685507076 target="_blank" rel="noopener noreferrer"> @MECFS_Portal#LightUpTheNight4MEBeleuchtet eure Fenster blau &amp; bittet öffentliche &amp; private Gebäude in eurer Sta… https://t.co/R9dWTzvDym </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> [45] </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>27.03.23 14:08</span></span> </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> JuliaBeepBoop </a></td>
<td><a href=https://twitter.com/JuliaBeepBoop/status/1640355145010540544 target="_blank" rel="noopener noreferrer"> Falls jemand helfen möchte bei der #LightUpTheNight4ME Aktion:Über diese Awareness Tage, die auch bunte Beleuchtu… https://t.co/Zefo9oKVt1 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> [46] </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 21:20</span></span> </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> PJoschka </a></td>
<td><a href=https://twitter.com/PJoschka/status/1524862195963772957 target="_blank" rel="noopener noreferrer"> Danke Fürth ☘️ für diese herzliche Geste zum MECFS Awarenessday. Meine Familie und ich senden viel Kraft an Jeden d… https://t.co/alaqgL25cb </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> [47] </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 20:17</span></span> </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> BettinaHahn5 </a></td>
<td><a href=https://twitter.com/BettinaHahn5/status/1524846150867636250 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME #MEAwarenessDay https://t.co/pUwewVCD3S </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> [48] </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>09.05.22 23:11</span></span> </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> MightyMermaid87 </a></td>
<td><a href=https://twitter.com/MightyMermaid87/status/1523802854905245696 target="_blank" rel="noopener noreferrer"> Könnt ihr am internationalen #MECFS Tag am 12.05. bitte auch die #LightUpTheNight4ME Aktion unterstützen?🙏 Einige S… https://t.co/959Bfq6TMp </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> [49] </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 04:54</span></span> </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> FatigatioeV </a></td>
<td><a href=https://twitter.com/FatigatioeV/status/1392342348756144133 target="_blank" rel="noopener noreferrer"> Vielen Dank #München für #LightUptheNight4ME zum #MECFSAwarenessday #MECFS #ENDmecfs2021 https://t.co/mY96TH7uJA https://t.co/eZUKM0T8xt </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> [50] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 01:25</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1392289692998057990 target="_blank" rel="noopener noreferrer"> Einen schönen Anblick werden auch die Münchner erleben, wenn das Umadum Riesenrad dekorativ blau leuchten wird. Gro… https://t.co/YKMSjaWNSb </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> [51] </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>31.03.23 07:55</span></span> </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> mecfs_support_ </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1641710840712667136 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME - Wunschteilnehmer &amp; Anschreiben Wen könnt ihr anschreiben? ✍️🤔Prinzipiell jeden, bei dem ih… https://t.co/FGb8HfuyMm </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> [52] </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> 16 </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>21.03.23 09:52</span></span> </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> mecfs_support_ </a></td>
<td><a href=https://twitter.com/mecfs_support_/status/1638116276156477446 target="_blank" rel="noopener noreferrer"> - Am Abend des 12. Mais lasst eure Wohnungen blau erstrahlen und teilt Fotos davon mit dem Hashtag… https://t.co/JEbl5eHfRJ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> [53] </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>23.05.22 09:00</span></span> </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> MaritSkotheim </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1528662097755791360 target="_blank" rel="noopener noreferrer"> I Tyskland ble den internasjonale ME-dagen markert med blå lyssetting av mer enn 35 bygg.Også bygninger i andre l… https://t.co/G5FJ8GZ6mR </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> [54] </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 20:20</span></span> </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> minismental77 </a></td>
<td><a href=https://twitter.com/minismental77/status/1524847017880698893 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME https://t.co/OiE85Ho6dP </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> [55] </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 09:24</span></span> </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> ThomasHeinzman_ </a></td>
<td><a href=https://twitter.com/ThomasHeinzman_/status/1524319466338795520 target="_blank" rel="noopener noreferrer"> @fdplandtagth @ThuerLandtag @RMMontag Vielen Dank für die Awareness &amp; Ihr Engagement für uns #MECFS Betroffene, v.a… https://t.co/Ay6SQjHLLc </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> [56] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>09.04.22 01:12</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1512599385275879425 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME am #WorldMECFSday 12.05.2022: öffentliche &amp; private Gebäude werden zur Unterstützung &amp; Bekanntm… https://t.co/AzHtHLd19V </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> [57] </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 05:54</span></span> </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> MaritSkotheim </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1392357380508299264 target="_blank" rel="noopener noreferrer"> May 12th is the international awareness day for the illness #MEcfs I cannot remember that the same as in #Munich… https://t.co/Kj57SBjQvm </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> [58] </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 16:36</span></span> </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> PippaMatz </a></td>
<td><a href=https://twitter.com/PippaMatz/status/1524790719336038400 target="_blank" rel="noopener noreferrer"> @Afelia Ich danke Ihnen von ganzem❤️, dass Sie mit uns mitkämpfen💙&amp;drücke Ihnen alle Daumen, dass sich der Crash in… https://t.co/5NG3flC5l4 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> [59] </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> 14 </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>11.05.22 12:38</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> MECFS_Stuttgart </a></td>
<td><a href=https://twitter.com/MECFS_Stuttgart/status/1524368324649496580 target="_blank" rel="noopener noreferrer"> Die FDP und der Landtag Thüringen setzen am 12. Mai ein wichtiges Zeichen der Solidarität für 400.000 ME/CFS Erkran… https://t.co/LTQUKgl21m </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> [60] </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>19.05.22 10:53</span></span> </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> CfsHilfe </a></td>
<td><a href=https://twitter.com/CfsHilfe/status/1527241036854185984 target="_blank" rel="noopener noreferrer"> 💙Steiermark: Orpheum Graz💙Tirol: Goldenes Dachl💙Wien: Riesenrad💙Wien: Donaukanalbrücken:· Marienbrücke· Salzto… https://t.co/itjAWZBRnP </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> [61] </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>13.05.22 06:52</span></span> </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> MECFS_Portal </a></td>
<td><a href=https://twitter.com/MECFS_Portal/status/1525006093855997953 target="_blank" rel="noopener noreferrer"> #MECFSWir möchten uns ganz herzlich bei allen Betroffenen und Teilnehmern der gestrigen #LightUpTheNight4ME bedank… https://t.co/Y0UNMXWKwv </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> [62] </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 19:20</span></span> </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> Brausekopf07 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524831905388150785 target="_blank" rel="noopener noreferrer"> Blau, die Farbe steht für #mecfs  Sie steht für den Kampf um Anerkennung, Versorgung &amp; Forschung, für Hoffnung &amp; So… https://t.co/1l1tkbMO0z </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> [63] </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 16:59</span></span> </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> Brausekopf07 </a></td>
<td><a href=https://twitter.com/Brausekopf07/status/1524796528866512896 target="_blank" rel="noopener noreferrer"> Vielen Dank für Ihre Unterstützung 💙#LightUpTheNight4ME#millionsmissing https://t.co/Xw6NVcteqa </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> [64] </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 09:56</span></span> </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> LVStiftung </a></td>
<td><a href=https://twitter.com/LVStiftung/status/1524690007587536896 target="_blank" rel="noopener noreferrer"> Ein Zeichen der Solidarität für Menschen mit der Erkrankung #MECFS am #12Mai💙Die OsnabrückHalle nimmt wie die Lost… https://t.co/DIHzHS8n0I </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> [65] </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>........v...........<span class=dateVisualizationTooltip>09.03.22 20:30</span></span> </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> BettinafightsME </a></td>
<td><a href=https://twitter.com/BettinafightsME/status/1501656570190565388 target="_blank" rel="noopener noreferrer"> #MEAwarenessHourWith 12/5 nearing marking #WorldMECFSday, i'ld like to hint to our anual campaign… https://t.co/8YFj9q0Moi </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> [66] </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 10:22</span></span> </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> Julia46738505 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392424839949045763 target="_blank" rel="noopener noreferrer"> Vorhin sind die Beiträge zum #MEAwarenessDay bzw. der #LightUptheNight4ME Aktion erschienen.Wer dem Umadum Team ei… https://t.co/JjYRor3PyJ </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> [67] </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>07.04.23 18:23</span></span> </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> AnneKhlr </a></td>
<td><a href=https://twitter.com/AnneKhlr/status/1644405630923423746 target="_blank" rel="noopener noreferrer"> Die letzte Woche hatte ich keine Energie, um Menschen und Organisationen zu finden, die bei der Aktion… https://t.co/Zy53aFWTEO </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> [68] </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..................v.<span class=dateVisualizationTooltip>03.04.23 20:51</span></span> </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> radineulla </a></td>
<td><a href=https://twitter.com/radineulla/status/1642993287282737152 target="_blank" rel="noopener noreferrer"> ✨Bitte hilf auch DU mit Sehenswürdigkeiten etc in DEINER Stadt oder auch in anderen Städten anzuschreiben!✨Für vi… https://t.co/WuvZ71MZYw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> [69] </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>13.05.22 10:28</span></span> </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> mecfsaustralia </a></td>
<td><a href=https://twitter.com/mecfsaustralia/status/1525060419076861952 target="_blank" rel="noopener noreferrer"> 12 May 2022 - We have 52 Australian buildings and landmarks organised for Light Up The Night 2022, as part of May 1… https://t.co/VnOPwhC8e7 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> [70] </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 09:07</span></span> </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> paubodensteiner </a></td>
<td><a href=https://twitter.com/paubodensteiner/status/1524677526580187136 target="_blank" rel="noopener noreferrer"> Zum 30. Internationalen #MECFS-Tag…#MECFS #MillionsMissing #LongCovid #MEAwarenessWeek #MEAwarenessDay… https://t.co/FBCffazNnm </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> [71] </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> 3 </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> 7 </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>07.05.22 09:48</span></span> </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> DORTMUND_DAILY </a></td>
<td><a href=https://twitter.com/DORTMUND_DAILY/status/1522876012295557120 target="_blank" rel="noopener noreferrer"> #LightUpTheNight4ME auch in #Dortmund 🗓 12.05.cc @dortmunder_u Info:https://t.co/b0sXLH1Hfn https://t.co/z4r535BRkR </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> [72] </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.........v..........<span class=dateVisualizationTooltip>13.04.22 11:49</span></span> </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> Julia46738505 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1514209146941448200 target="_blank" rel="noopener noreferrer"> sozialem Hintergrund?Am 12.05. ist Florence Nightingales Geburtstag und nicht nur Tag der Pflege, sondern aufgrun… https://t.co/LZvufsJoXY </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> [73] </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>15.05.21 00:37</span></span> </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> MaritSkotheim </a></td>
<td><a href=https://twitter.com/MaritSkotheim/status/1393364778979102720 target="_blank" rel="noopener noreferrer"> When you realize that the website for The Observation Wheel #umadum in #Munich is more well-informed than most GPs… https://t.co/hlOdntXi7I </a></td>
</tr>
</table>
