
    <style type="text/css">
        a:link {color:#eee; text-decoration:none;}
        a:visited {color:#aba; text-decoration:none;}
        a:hover {text-decoration:underline;}
        body{
            background: #101010;
            color: #eee;
            font-family: sans-serif;
        }
        td{
            padding: 2px 10px;
        }
        table{
            white-space: nowrap;
        }
        .dateVisualization{
            position: relative;
        }
        .dateVisualizationTooltip{
            visibility: hidden;
            position: absolute;
            bottom: 110%;
            left: 105%;
            padding: 0.5rem;
            background-color: #393939;
            border-radius: 3px;
        }
        .dateVisualization .dateVisualizationTooltip::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #888 #888;
        }
        .dateVisualization:hover .dateVisualizationTooltip{
            visibility: visible;
        }
    </style>    
    <h4> Most Popular Tweets for #MemesForME</h4>
<h5> Dates: 2020-11-05 until 2023-05-10</h5>
<table>
<tr>
<th> Nr. </th>
<th> Sum </th>
<th> RT </th>
<th> Fav </th>
<th> Date </th>
<th> Author </th>
<th> Text </th>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> [1] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> 153 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> 135 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>11.11.20 14:06</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1326526597231497223 target="_blank" rel="noopener noreferrer"> #MECFS patients, carers &amp; campaigners when they read @NICEComms new draft guideline &amp; #GET, #CBT,… https://t.co/3J9bjlH7gR </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> [2] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> 76 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> 63 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>....v...............<span class=dateVisualizationTooltip>17.05.21 11:06</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1394247940823257094 target="_blank" rel="noopener noreferrer"> #MECFS #ME #PwME#MemesForME https://t.co/TgdIsyzx4k </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> [3] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> 70 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> 61 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...v................<span class=dateVisualizationTooltip>15.03.21 18:11</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1371524577692618753 target="_blank" rel="noopener noreferrer"> #MemesForME #PACEtrial #NICE #ME #MECFS https://t.co/izDT87EgXN </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> [4] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> 64 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> 55 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.....v..............<span class=dateVisualizationTooltip>18.06.21 15:16</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1405907373663924224 target="_blank" rel="noopener noreferrer"> #ME #MECFS #LongCovid#MemesForME https://t.co/Sy5jap4mWK </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> [5] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> 47 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> 5 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> 42 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.......v............<span class=dateVisualizationTooltip>19.10.21 08:28</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1450378231228600323 target="_blank" rel="noopener noreferrer"> #PublishThatGuideline #NICEguideline #ME #MECFS #MemesForME https://t.co/7yPWSsIZDv </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> [6] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> 23 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.....v..............<span class=dateVisualizationTooltip>24.07.21 08:58</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1418858221067030530 target="_blank" rel="noopener noreferrer"> One more for #MemesForME 👇 https://t.co/60upXLpzJD </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> [7] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.....v..............<span class=dateVisualizationTooltip>21.07.21 08:51</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1417769138592825348 target="_blank" rel="noopener noreferrer"> Definitely one for #MemesForME 👇 https://t.co/91XCUuP7Um </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> [8] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> 20 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.v..................<span class=dateVisualizationTooltip>08.12.20 09:36</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1336243158322188288 target="_blank" rel="noopener noreferrer"> #MemesForME #ME #MECFS #pwme https://t.co/AinYM7aJXk </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> [9] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> 4 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> 15 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...v................<span class=dateVisualizationTooltip>07.03.21 20:06</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1368654339246526468 target="_blank" rel="noopener noreferrer"> If you can’t laugh.....Loads more #MemesForME added to this thread today, have a look, a giggle, an eye roll, mayb… https://t.co/JNcn7twpM0 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> [10] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> 18 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>23.11.20 19:57</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1330963602476511237 target="_blank" rel="noopener noreferrer"> #memesforME https://t.co/929HoRRWiP </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> [11] </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> 12 </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...v................<span class=dateVisualizationTooltip>07.03.21 19:04</span></span> </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> JulesAHouston </a></td>
<td><a href=https://twitter.com/JulesAHouston/status/1368638764541706245 target="_blank" rel="noopener noreferrer"> @bendymarsh #memesforME Cheating here as this is a gif. The "experts" forcing #pwME to do GET! https://t.co/wBR6nFAuH7 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> [12] </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> 11 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> 9 </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...........v........<span class=dateVisualizationTooltip>12.05.22 09:41</span></span> </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> bendymarsh </a></td>
<td><a href=https://twitter.com/bendymarsh/status/1524686275059625984 target="_blank" rel="noopener noreferrer"> @maosbot As always, theres a meme!!#MemesForME https://t.co/6KzDv8KWgb </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> [13] </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> 0 </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> 10 </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>...v................<span class=dateVisualizationTooltip>08.03.21 01:56</span></span> </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> DressFor_ME </a></td>
<td><a href=https://twitter.com/DressFor_ME/status/1368742323731988487 target="_blank" rel="noopener noreferrer"> @bendymarsh @karenphysiocouk #MemesForME https://t.co/mBmYAvaaYI </a></td>
</tr>
</table>
