
    <style type="text/css">
        a:link {color:#eee; text-decoration:none;}
        a:visited {color:#aba; text-decoration:none;}
        a:hover {text-decoration:underline;}
        body{
            background: #101010;
            color: #eee;
            font-family: sans-serif;
        }
        td{
            padding: 2px 10px;
        }
        table{
            white-space: nowrap;
        }
        .dateVisualization{
            position: relative;
        }
        .dateVisualizationTooltip{
            visibility: hidden;
            position: absolute;
            bottom: 110%;
            left: 105%;
            padding: 0.5rem;
            background-color: #393939;
            border-radius: 3px;
        }
        .dateVisualization .dateVisualizationTooltip::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #888 #888;
        }
        .dateVisualization:hover .dateVisualizationTooltip{
            visibility: visible;
        }
    </style>    
    <h4> Most Popular Tweets for #LightUptheNightforME</h4>
<h5> Dates: 2021-05-06 until 2023-05-10</h5>
<table>
<tr>
<th> Nr. </th>
<th> Sum </th>
<th> RT </th>
<th> Fav </th>
<th> Date </th>
<th> Author </th>
<th> Text </th>
</tr>
<tr>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> [1] </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> 53 </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> 40 </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>.................v..<span class=dateVisualizationTooltip>04.03.23 14:15</span></span> </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> julimaelle </a></td>
<td><a href=https://twitter.com/julimaelle/status/1632022064579190784 target="_blank" rel="noopener noreferrer"> Artikel über die #LightUpTheNightForME letztes Jahr.Liebe Frau @GoeringEckardt, es wäre ein Traum, wenn dieses… https://t.co/5hvFpihGEs </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> [2] </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> 45 </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>13.05.22 10:26</span></span> </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> MEResearchUK </a></td>
<td><a href=https://twitter.com/MEResearchUK/status/1525059904704331778 target="_blank" rel="noopener noreferrer"> Thanks to @PerthandKinross Council, a number of landmarks in Perth were illuminated last night in blue for Internat… https://t.co/hV4QTmBVpx </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> [3] </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 43 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> 37 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>16.05.21 15:46</span></span> </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> dg_mecfs </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956070154981379 target="_blank" rel="noopener noreferrer"> Auch die Kirche der Petri-Pauli-Kirchengemeinde in Bad Münder wurde anlässlich des internationalen ME/CFS-Tags blau… https://t.co/VJRkjFF2kw </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> [4] </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 25 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 1 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> 24 </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>16.05.21 15:50</span></span> </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> dg_mecfs </a></td>
<td><a href=https://twitter.com/dg_mecfs/status/1393956927143616514 target="_blank" rel="noopener noreferrer"> Begleitende Worte von Pastor Dietmar Adler: https://t.co/CaJxqu9t5X#MECFS #MillionsMissing #LightUpTheNightForME #LightUpTheNight4ME </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> [5] </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> 23 </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> 6 </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>..........v.........<span class=dateVisualizationTooltip>12.05.22 17:00</span></span> </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> PerthandKinross </a></td>
<td><a href=https://twitter.com/PerthandKinross/status/1524796548671889415 target="_blank" rel="noopener noreferrer"> Today Perth Bridge and St Pauls is lit in blue and purple for international ME/CFS and Fibromyalgia Awareness Day.… https://t.co/CR6tDn74SV </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> [6] </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 21 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 8 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> 13 </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>13.05.21 08:52</span></span> </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> HappyHoundHouse </a></td>
<td><a href=https://twitter.com/HappyHoundHouse/status/1392764628547956740 target="_blank" rel="noopener noreferrer"> #LightUptheNightforME #LightUptheNight4ME🙏 @GlosCathedral #Gloucestershirehttps://t.co/mR8fpptXQA… https://t.co/xR5HRyeCH6 </a></td>
</tr>
<tr>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> [7] </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 19 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 2 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> 17 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> <span class=dateVisualization>v...................<span class=dateVisualizationTooltip>12.05.21 19:17</span></span> </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> Julia46738505 </a></td>
<td><a href=https://twitter.com/Julia46738505/status/1392559629855608832 target="_blank" rel="noopener noreferrer"> #MEAwarenessDay #MEAwarenessHour #MillionsMissing #MillionsMore #ENDmecfs2021 #InvisibleIllness #CanYouSeeMENow… https://t.co/KxixuLZEpl </a></td>
</tr>
</table>
