
    <style type="text/css">
        a:link {color:#eee; text-decoration:none;}
        a:visited {color:#aba; text-decoration:none;}
        a:hover {text-decoration:underline;}
        body{
            background: #101010;
            color: #eee;
            font-family: sans-serif;
        }
        td{
            padding: 2px 10px;
        }
        table{
            white-space: nowrap;
        }
        .dateVisualization{
            position: relative;
        }
        .dateVisualizationTooltip{
            visibility: hidden;
            position: absolute;
            bottom: 110%;
            left: 105%;
            padding: 0.5rem;
            background-color: #393939;
            border-radius: 3px;
        }
        .dateVisualization .dateVisualizationTooltip::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #888 #888;
        }
        .dateVisualization:hover .dateVisualizationTooltip{
            visibility: visible;
        }
    </style>    
    <h4> Most Popular Tweets for #LongCovid</h4>
<h5> Dates: 2023-05-04 until 2023-05-10</h5>
<table>
<tr>
<th> Nr. </th>
<th> Sum </th>
<th> RT </th>
<th> Fav </th>
<th> Date </th>
<th> Author </th>
<th> Text </th>
</tr>
</table>
