a:link {color:#F0A172; text-decoration:none;}
a:visited {color:#F0A172; text-decoration:none;}
a:hover {text-decoration:underline;}

body{
	font-family: sans-serif;
	margin: 0px;
	background: #000;
	color: #FFFFFF;
	opacity: 85%;
}

.header, .footer{
	text-align: center;
	width: 100%;
	display: flex;
}
.title, .whatIsMECFS{
	flex-basis: 80%;
	padding: 35px 0px;
	text-align: center;
	background-color:#DDC;
	color: #000000;
}
.title object{
	display: inline;
	min-height: 30px;
	height: 60px;
	/*
	  width: 30%;
	  border: 1px solid #33333333;
	*/
}
.whatIsMECFS a:link{color:#AE4E15;}
.whatIsMECFS a:visited {color:#AE4E15;}

.table_of_contents{
	flex-basis: 20%;
	background-color: #444;
	color: #fff;
	text-align: left;
}
.table_of_contents h4{
	margin-left: 1.3rem;
	margin-bottom: 0.3rem;
}
.table_of_contents ul{
	margin-top: 0px;
}

.slidercontainer{
	color: #bbb;
	padding: 10px;
}
.slidercontainer h3{
	margin-top: 50px;
}

.bigLink {
	padding: 1.2rem;
	font-weight: bold;
}

article h3{
	background-color:#DDC;
	color: #000000;
	padding: 10px;
	margin: 0px;
	border-top: solid;
}
article img{
	margin: 10px 0px;
	width: 100%;
	--scaling-factor: 0.9;
	/*-webkit-transform: scale(var(--scaling-factor)); /* Saf3.1+, Chrome */
	/*	-moz-transform: scale(var(--scaling-factor)); /* FF3.5+ */
	/*	 -ms-transform: scale(var(--scaling-factor)); /* IE9 */
	/*	  -o-transform: scale(var(--scaling-factor)); /* Opera 10.5+ */
	/*		  transform: scale(var(--scaling-factor));
	*/
}
article object{
	display: block;
	margin: 1%;
	width: 98%;
	height: 50%;
	border: 1px solid #333333;
}

.footerUrls{
	flex-basis: 20%;
	background-color: #444;
	color: #fff;
	text-align: left;
	padding: 10px;
}
.footerUrls div{
	display: block;
	padding: 9px;
}
.footerUrls a{
	display: inline-block;
	padding: 2px;
}
.hinweis {
	font-size: 0.75rem;
}
#CodebergLink:link{
	opacity: 0.8;
}
#CodebergLink:hover{
	background-color: #666;
}